
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow ">
  <a class="navbar-brand col-md-3 col-lg-4 me-10 px-2 fs-8 " style="margin-left: 15px;">Hello, <h3>{{fullName}}</h3></a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>

  </button>

  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
    </div>
  </div>
  <span class="btn btn-primary me-3" (click)="logout()">Sign out</span>
</header>

<div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3 sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item ">
              <a class="nav-link active" aria-current="page" href="#">
                <span class="fa fa-home p-2"></span>
                <span data-feather="home" class="align-text-bottom"></span>
                Dashboard
              </a>
            </li>
            <li *ngIf="role == 'Admin' " class="nav-item border">
              <a class="nav-link" href="#">
                <span class="fa fa-users p-2"></span>
                <span data-feather="shopping-cart" class="align-text-bottom"></span>
                Funcionários
              </a>
            </li>
            <li class="nav-item border">
              <a class="nav-link" href="#">
                <span class="fa fa-clock-o p-2"></span>
                <span data-feather="file" class="align-text-bottom"></span>
                Picagens
              </a>
            </li>
            <li class="nav-item  border">
              <a class="nav-link" href="#">
                <span class="fa fa-rocket p-2"></span>
                <span data-feather="bar-chart-2" class="align-text-bottom"></span>
                Férias / Just..
              </a>
            </li>
            <li class="nav-item border">
              <a class="nav-link" href="#">
                <span class="fa fa-check-square-o p-2"></span>
                <span data-feather="users" class="align-text-bottom"></span>
                Pedidos
              </a>
            </li>
            <li class="nav-item border">
              <a class="nav-link" href="#">
                <span class="fa fa-user p-2"></span>
                <span data-feather="shopping-cart" class="align-text-bottom"></span>
                Perfil
              </a>
            </li>
            <li class="nav-item border">
              <a class="nav-link" href="#">
                <span class="fa fa-question-circle p-2"></span>
                <span data-feather="layers" class="align-text-bottom"></span>
                Suporte
              </a>
            </li>

            <li class="nav-item border" id="signout">
              <a class="nav-link" href="#">
                <span class="fa fa-sign-out p-2"></span>
                <span data-feather="layers" class="align-text-bottom" (click)="logout()"></span>
                Sign out
              </a>
            </li>
          </ul>
        </div>
      </nav>


      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Dashboard</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
              <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
              <span data-feather="calendar" class="align-text-bottom"></span>
              This week
            </button>
          </div>
        </div>

        <ul *ngFor="let user of users">
          <li>{{user.userName}}</li>
        </ul>
        <!-- <canvas class="my-4 w-100" id="myChart" width="900" height="380">

        </canvas> -->

        <h2>Section title</h2>
        <div class="table-responsive">
          <table class="table  table-sm">
            <thead>
              <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Username</th>
                <th scope="col">Employee Id</th>
                <th scope="col">Admission Date</th>
                <th scope="col">Position</th>
                <th scope="col">Department</th>
                <th scope="col">Role</th>
              </tr>
            </thead >
            <tbody *ngFor="let user of users">
              <tr >
                <td >{{user.firstName}}</td>
                <td >{{user.lastName}}</td>
                <td >{{user.email}}</td>
                <td>{{user.userName}}</td>
                <td>{{user.employeeId}}</td>
                <td>{{user.admissionDate}}</td>
                <td>{{user.position}}</td>
                <td>{{user.Department}}</td>
                <td>{{user.role}}</td>
                <button type="button" class="btn btn-warning mb-1 "><i class="fa fa-pencil" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-danger mb-1" style="color:black"><i class="fa fa-trash" aria-hidden="true"></i></button>
              </tr>
            </tbody>
          </table>
        </div>
      </main>
    </div>
  </div>


